<% content_for :title do %>Leaderboard<% end %>
<h3>Leaderboard</h3>
<table class="table table-striped">
  <thead class="thead-default">
    <tr>
      <td><%= "Player" %></td>
      <td><%= "Rounds" %></td>
      <td><%= "Points" %></td>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr scope="row">
        <td><%= image_tag user.avatar.url(:thumb), class: "avatar-thumb-small" %> <%= user.nickname %></td>
        <td><%= user.total_rounds %></td>
        <td><%= user.total_score %></td>
      </tr>
    <% end %>
  </tbody>
</table>
