<td><%= link_to score.user.name, user_path(score.user.id) %></td>
<td><%= score.course %></td>
<td><%= score.date %></td>
<td class="hidden-sm-down"><%= score.handicap %></td>
<td><%= score.stableford %></td>
<td class="hidden-sm-down"><%= score.strokes %></td>

